// Colors

:root {
    --body-color: #0F172A;
    --brown: #78350F;
    --brown-dark: rgb(0, 0, 0);
    --yellow: #FBBF24;
    --yellow-100: #FEF3C7;
    --yellow-200: #FDE68A;
    --fuchsia: #A21CAF;
    --gradient: linear-gradient(180deg, #FFFBEB 0%, #FFF 100%);
}
